$buttonPrimaryColor: #362BB0;
$width: 600px;
@mixin phone {
    @media (max-width: #{$width}) {
      @content;
    }
}
  

@mixin desktop {
  @media (min-width: #{$width}) {
    @content;
  }
}

.displayFlex {
    display: flex;
    flex: 1;
}



.formContainer {
    @extend .displayFlex;
    @include  phone {
        margin-top: 5px;
    }
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.cardContainer{
    border-radius: 5%;
    padding: 5%;
    background: white;
    border: .51px  solid red;
    flex-direction: column;
}

.formFields{
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
}

.formItems {
    flex: 1;
    margin-bottom: 5px;
}

.formLabel {
    @extend .displayFlex;
    align-items: center;
}

.formInput {
    @extend .displayFlex;
    flex: 3
}



.buttonContainer {
    display: flex;
    @include  phone {
        margin-top: 5px;
    }
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}


.commonButtons {
    @extend .displayFlex;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px;   
    border: 1px solid $buttonPrimaryColor;
}

.login {
    @extend .commonButtons;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: $buttonPrimaryColor;
}


.signin {
    @extend .commonButtons;
    justify-content: center;
    align-items: center;
    background-color: $buttonPrimaryColor;   
    color: white;
}


