$width: 600px;
@mixin phone {
  @media (max-width: #{$width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$width}) {
    @content;
  }
}

.displayFlex {
  display: flex;
  flex: 1;
}

.formItems {
  @include phone {
    display: flex;
    flex-direction: column;
  }
}

.formLabel {
  @extend .displayFlex;
  align-items: center;
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 10px;
  @include phone {
    text-align: center;
  }
}

.formInputContainer {
  @include phone {
    display: flex;
  }
}

.formInput {
  @extend .displayFlex;
  margin-top: 2px;
  align-items: center;
}
