$width: 600px;
@mixin phone {
  @media (max-width: #{$width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$width}) {
    @content;
  }
}
.displayFlex {
  display: flex;
  flex: 1;
}
.blockCard {
  @extend .displayFlex;
  flex-direction: column;
  margin: 0px 5px 3.5%;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0 3px 15px -6px #3f51b5;
  @include phone {
    padding: 20px
  }
  @include desktop {

    max-width: 50%;
  }
}

.blockCard:hover {
  box-shadow: 0 3px 25px -6px #3f51b5;
}


.actionArea {
  border-top: 2px solid #cccc;
  padding-top: 10px;
}

.actionArea button {
  float: right;
  background: #3f51b5;
  color: white;
  border-color: #3f51b5;
  padding: 7.5px 10px;
  border-radius: 2px;
  transition-duration: 1s;
}

.actionArea button:hover {
  background: white;
  color: #3f51b5;
  border-color: #3f51b5;
  border-radius: 20px;
  box-shadow: 0 3px 15px -6px #3f51b5;
}


.cardRow {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  @include phone {
    word-break: break-all;
  }
}
