$width: 600px;
@mixin phone {
  @media (max-width: #{$width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$width}) {
    @content;
  }
}

.displayFlex {
  display: flex;
  flex: 1;
}

.blockCardContainer {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  animation: containerScrollToTop 3s;
  transition: all 1s ease;
  animation-fill-mode: forwards;
  padding: 10px;
}


.blockCard {
  @extend .displayFlex;
  margin-bottom: 5%;
  margin-right: 15px;
  padding: 2.5% 1%;
  flex-direction: column;
  border: 1px solid #3f51b5;
  border-radius: 5%;
}

.cardRow {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.label {
  display: flex;
  flex: 1;
  justify-content: center;
}

.value {
  display: flex;
  flex: 3;
  justify-content: center;
}

@keyframes containerScrollToTop {
  0% {
    top: 100%;
    opacity: 0;
  }
  100% {
    top: 20%;
    opacity: 1;
  }
}

