$width: 600px;
@mixin phone {
  @media (max-width: #{$width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$width}) {
    @content;
  }
}

.displayFlex {
  display: flex;
  flex: 1;
}

.blockCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  animation: containerScrollToTop 3s;
  transition: all 1s ease;
  animation-fill-mode: forwards;
  padding: 10px;
  @include phone{
    flex-direction: column;
    align-items: center;

  }
}


.blockCard {
  @extend .displayFlex;
  flex-direction: column;
  margin: 0px 5px 3.5%;
  padding: 2%;
  max-width: 50%;
  border-radius: 10px;
  box-shadow: 0 3px 15px -6px #3f51b5;
  @include phone {
    padding: 20px
  }
}


.cardRow {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  @include phone {
    word-break: break-all;
  }
}


.label {
  @extend  .displayFlex;
  margin-bottom: 5px;
}

.value {
  display: flex;
  flex-wrap: wrap;
  flex: 3;
  @include phone {
    word-break: break-all;

  }
}

@keyframes containerScrollToTop {
  0% {
    top: 100%;
    opacity: 0;
  }
  100% {
    top: 20%;
    opacity: 1;
  }
}

