$width: 600px;
@mixin phone {
  @media (max-width: #{$width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$width}) {
    @content;
  }
}

.displayFlex {
  display: flex;
  flex: 1;
}

.blockCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  -webkit-animation: containerScrollToTop 3s;
  animation: containerScrollToTop 3s;
  transition: all 1s ease;
  animation-fill-mode: forwards;
  padding: 10px;
  @include phone {
    flex-direction: column;
    align-items: center;

  }
}




.label {
  @extend .displayFlex;
  margin-bottom: 5px;
}

.value {
  display: flex;
  flex-wrap: wrap;
  flex: 3;
  @include phone {
    word-break: break-all;

  }
}

@keyframes containerScrollToTop {
  0% {
    top: 100%;
    opacity: 0;
  }
  100% {
    top: 22%;
    opacity: 1;
  }
}


@-webkit-keyframes containerScrollToTop {
  0% {
    top: 100%;
    opacity: 0;
  }
  100% {
    top: 22%;
    opacity: 1;
  }
}