$width: 600px;
$buttonPrimaryColor: #ccc;

@mixin phone {
    @media (max-width: #{$width}) {
      @content;
    }
}


@mixin desktop {
  @media (min-width: #{$width}) {
    @content;
  }
}

.displayFlex {
    display: flex;
    flex: 1;
}


.authScreenContainer {
    @extend .displayFlex;
    height: 100vh;
    @include phone{
        flex-direction: column;
        padding-bottom: 20px;
    }
    // background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

}

.loginSigninImageContainer {
    @extend .displayFlex;
    padding: 5%;

}

.loginSigninImage{
    height: 100%;
    width: 100%;
    border-radius: 10%;
    box-shadow: 1px  3px 20px  $buttonPrimaryColor;
}

.loginSigninFormContainer {
    @extend .displayFlex;
    padding: 5%;
}

