$width: 600px;
@mixin phone {
  @media (max-width: #{$width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$width}) {
    @content;
  }
}

.displayFlex {
    display: flex;
    flex: 1;
}

.navigationContainer {
    @extend .displayFlex;
    padding: 10px;    
}

.logo{ 
    @extend .displayFlex;
    align-items: center;
    
}

.logoImg{ 
    margin-top: 5px;
    height: 50px;
    
}

.linkContainer{ 
    @extend .displayFlex;
    flex:2;
    justify-content: flex-end;
    align-items: center;
}

.link {
    display: flex;
    margin-right: 20px;
    border: 1px solid #3f51b5;
    background-color: #3f51b5;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    @include phone {
     
        padding:5px;
    }
    @include desktop{
        padding: 7.5px 10px;
    }
}